{% include "layout.html" %}

<div class="container">
  <div class="card">
    <div class="card-header">Lets edit your Todo</div>
    <div class="card-body">
      <form id="editTodoForm">
        <div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control" value="{{todo.title}}" name="title" required />
        </div>
        <div class="form-group">
          <lable>Description</lable>
          <textarea class="form-control" name="description" required>{{todo.description}}</textarea>
        </div>
        <div class="form-group">
          <lable>Priority</lable>
          <select class="form-control" name="priority" required>
            <option {% if todo.priority == 1 %} selected {% endif %}>1</option>
            <option {% if todo.priority == 2 %} selected {% endif %}>2</option>
            <option {% if todo.priority == 3 %} selected {% endif %}>3</option>
            <option {% if todo.priority == 4 %} selected {% endif %}>4</option>
            <option {% if todo.priority == 5 %} selected {% endif %}>5</option>
          </select>
        </div>
        <div class="form-group">
          <lable>Due</lable>
          <select class="form-control" name="due_date" required>
            <option {% if todo.due_date == 'Today' %} selected {% endif %}>Today</option>
            <option {% if todo.priority == 'Tommorow' %} selected {% endif %}>1</option>
            <option {% if todo.priority == 'Day after tommorow' %} selected {% endif %}>Day after tommorow</option>
            
          </select>
        </div>
        <input type="checkbox" class="form-check-input" name="complete" {% if todo.complete %} checked %} {% endif %}></input>
        <label class="form-check-label">Complete</label>
        <button type="submit" class="btn btn-primary">Edit your todo</button>
        <button id="deleteButton" type="button"  class="btn btn-danger" >Delete</button>
        <a href="/todos/todo-page" class="btn btn-success"> Back</a>
      </form>
    </div>
  </div>
</div>
